<div xmlns:th="http://www.thymeleaf.org">
	<h3>Hello User</h3>
	<form>
		<div class=" row inp ">
			<div class="col-sm-2">name</div>
			<input type="type" name="" class="col-sm-8">
			<div class="col-sm-2"></div>
		</div>
		<div class="row inp">
			<div class="col-sm-2">id_number</div>
			<input type="type" name="" class="col-sm-8">
			<div class="col-sm-2"></div>
		</div>
		<div class="row inp">
			<div class="col-sm-2">Phone</div>
			<input type="type" name="" class="col-sm-8">
			<div class="col-sm-2"></div>
		</div>
		<div class="row inp">
			<div class="col-sm-2">avt</div>
			<input type="type" name="" class="col-sm-8">
			<div class="col-sm-2"></div>
		</div>
		<div class="row inp">
			<div class="col-sm-2">email</div>
			<input type="type" name="" class="col-sm-8">
			<div class="col-sm-2"></div>
		</div>
		<div class="row inp">
			<div class="col-sm-2">address</div>
			<input type="type" name="" class="col-sm-8">
			<div class="col-sm-2"></div>
		</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 clearfix gui">
				<button class="btn btn-primary float-right" type="submit" name="">gui</button>
			</div>
		</div>
	</form>
</div>